{% extends "site_base.html" %}


{% load i18n %}
{% load django_bootstrap5 %}
{% load sm_history_tags %}
{% load history_url_tags %}

{% block head_title %}{% trans "Operatingsystem" %} :: {{ object }}{% endblock %}

{% block body_class %}operatingsystem operatingsystem-{% if object %}detail{% else %}create{% endif %}{% endblock %}

{% block body %}
<div class="wide-container mt-4">
{% if object %}
  <form action="{% url 'operatingsystem:detail' object.pk %}" method="post" class="form">
{% else %}
  <form action="{% url 'operatingsystem:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
<div class="form-actions">
{% if request.path == object.get_update_url %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-sm btn-primary pill" %}
{% else %}
<a class="btn btn-primary pill" role="button" href="{% url 'operatingsystem:update' object.pk %}">{% trans 'Edit' %}</a>
<a class="btn btn-danger" role="button" href="{% url 'operatingsystem:delete' object.pk %}">{% trans 'Delete' %}</a>
{% endif %}
</div>

  <div class="card">
    {% if not object.server_set.all %}
      <div class="card-header"><b>{% trans 'No servers with this operatingsystem' %}</b></div>
    {% else %}
    <div class="card-header"><b>{% trans 'List of servers with this operatingsystem' %}</b></div>
    <table class="table table-hover table-striped" id="server_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>{% trans 'Hostname' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Location' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for server in object.server_set.all %}
          <tr>
            <td>
              <a href="{% url 'server:detail' server.pk %}" title="{{ server.hostname }}">
                <div>{{ server.hostname }}</div>
              </a>
            </td>
            <td>
              {% include "status-icon.html" with object=server %}
            </td>
            <td>
              {{ server.location }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

    {% include "includes/history_table.html" %}
</div>
{% endblock %}
{% block additionalscripts %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
$(function () {
  $('.date-input').datetimepicker({
    format:'YYYY-MM-DD',
  });
});
</script>
{% endblock %}
