{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Operatingsystem" %}{% endblock %}

{% block body_class %}operatingsystem operatingsystem-list{% endblock %}

{% block body %}
<div class="wide-container mt-4">
  <div class="card">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{% trans "Operating Systems" %}</h4>
      <div class="d-flex align-items-center">
        <div class="custom-control custom-switch mr-3">
          <input type="checkbox" class="custom-control-input cookie-sync" id="show_empty" checked>
          <label class="custom-control-label" for="show_empty">{% trans 'Show empty' %}</label>
        </div>
        <a href="{% url 'operatingsystem:create' %}" class="btn btn-sm btn-primary">
          <i class="fa-solid fa-plus-circle"></i> {% trans "Add New" %}
        </a>
      </div>
    </div>

    {% if not object_list %}
      <div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover" id="operatingsystem_list">
      <thead>
        <tr>
          <th>{% trans "Vendor" %}</th>
          <th>{% trans "Versions" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for vendor in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'vendor:detail' vendor.pk %}" title="{{ vendor.name }}">
                {{ vendor.name }}
              </a>
            </td>
            <td>
              {% for operatingsystem in vendor.operatingsystem_set.all %}
                <a href="{% url 'operatingsystem:detail' operatingsystem.pk %}" title="{{ operatingsystem }}">
                  {{ operatingsystem.version }}</a>{% if not forloop.last %}, {% endif %}
              {% empty %}
                None
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'operatingsystem:create' vendor.pk %}" title="Add new operatingsystem"><i class="fa-solid fa-plus-circle" aria-hidden="true"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
