{% load i18n %}
{% load account_tags %}

<ul class="nav navbar-nav" style="flex-direction: row;">
    <li class="nav-item dropdown" id="tab_account">
        <a class="nav-link dropdown-toggle" href="/" id="account_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if request.user.is_authenticated %}
            <i class="fa fa-fw fa-user" aria-hidden="true"></i> {% user_display request.user %}
          {% else %}
            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Login
          {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="position: absolute; right:0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
          {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url "account_settings" %}"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> {% trans 'Settings' %}</a>
            <a class="dropdown-item" href="{% url "account_logout" %}"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> {% trans 'Logout' %}</a>
          {% else %}
            <a class="dropdown-item" href="{% url "account_login" %}"><i class="fa fa-fw fa-sign-in" aria-hidden="true"></i> {% trans 'Local' %}</a>
            <a class="dropdown-item" href="{% url "social:begin" "facebook" %}"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i> Facebook</a>
          {% endif %}
        </div>
    </li>
    {% if user.is_staff %}
      <li class="nav-item" style="margin-left: 5px;">
        <a class="nav-link" href="{% url THEME_ADMIN_URL|default:"admin:index" %}" target="_new"><i class="fa fa-user-secret" aria-hidden="true"></i> {% trans 'Admin' %}</a>
      </li>
    {% endif %}
</ul>
