{% load i18n %}
{% load account_tags %}

<ul class="nav navbar-nav">
    {% if request.user.is_authenticated %}
    <li class="nav-item dropdown" id="tab_account">
        <a class="nav-link dropdown-toggle" href="/" id="account_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-user" aria-hidden="true"></i> {% user_display request.user %}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url "account_settings" %}"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> {% trans 'Settings' %}</a>
          <a class="dropdown-item" href="{% url "account_logout" %}"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> {% trans 'Logout' %}</a>
        </div>

    </li>
    {% else %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Login
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url "account_login" %}"><i class="fa fa-fw fa-sign-in" aria-hidden="true"></i> {% trans 'Local' %}</a>
          <a class="dropdown-item" href="{% url "social:begin" "facebook" %}"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i> Facebook</a>
        </div>
    </li>
    {% endif %}
    {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url THEME_ADMIN_URL|default:"admin:index" %}" target="_new"><i class="fa fa-user-secret" aria-hidden="true"></i> {% trans 'Admin' %}</a>
      </li>
    {% endif %}
</ul>
