{% load i18n %}
{% load socialaccount %}

<ul class="nav navbar-nav navbar-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-user" aria-hidden="true"></i> {{ request.user.username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'account_change_password' %}"><i class="fa fa-fw fa-key" aria-hidden="true"></i> {% trans "Change Password" %}</a></li>
                <li><a href="{% url 'socialaccount_connections' %}"><i class="fa fa-fw fa-external-link" aria-hidden="true"></i> {% trans "Account Connections" %}</a></li>
                <li class="divider"></li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'account_logout' %}" style="display:none;">
                        {% csrf_token %}
                    </form>
                    <a href="javascript:document.getElementById('logout-form').submit();">
                        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> {% trans "Log out" %}
                    </a>
                </li>
            </ul>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% comment %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans "Social Log in" %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% provider_login_url 'facebook' %}"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                <li><a href="{% provider_login_url 'google' %}"><i class="fa fa-fw fa-google" aria-hidden="true"></i> Google</a></li>
            </ul>
        </li>
        {% endcomment %}
    {% endif %}
</ul>
