{% load i18n %}
<ul class="navbar-nav mr-auto">
    <!-- Infrastructure Group -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="infraDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-server mr-1"></i> {% trans "Infrastructure" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="infraDropdown">
            <h6 class="dropdown-header">{% trans "Servers & Network" %}</h6>
            <a class="dropdown-item" href="/server/"><i class="fa fa-hdd-o fa-fw mr-2"></i> {% trans "Servers" %}</a>
            <a class="dropdown-item" href="/servermodel/"><i class="fa fa-cubes fa-fw mr-2"></i> {% trans "Server Models" %}</a>
            <a class="dropdown-item" href="/domain/"><i class="fa fa-globe fa-fw mr-2"></i> {% trans "Domains" %}</a>
            <a class="dropdown-item" href="/location/"><i class="fa fa-map-marker fa-fw mr-2"></i> {% trans "Locations" %}</a>
        </div>
    </li>

    <!-- Configuration Group -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog mr-1"></i> {% trans "Configuration" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="configDropdown">
            <a class="dropdown-item" href="/operatingsystem/"><i class="fa fa-laptop fa-fw mr-2"></i> {% trans "Operating Systems" %}</a>
            <a class="dropdown-item" href="/vendor/"><i class="fa fa-industry fa-fw mr-2"></i> {% trans "Vendors" %}</a>
            <a class="dropdown-item" href="/status/"><i class="fa fa-tag fa-fw mr-2"></i> {% trans "Statuses" %}</a>
            <a class="dropdown-item" href="/patchtime/"><i class="fa fa-calendar fa-fw mr-2"></i> {% trans "Patch Times" %}</a>
        </div>
    </li>

    <!-- Cluster Group -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="clusterDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-th-large mr-1"></i> {% trans "Clusters" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="clusterDropdown">
            <a class="dropdown-item" href="/cluster/"><i class="fa fa-th-large fa-fw mr-2"></i> {% trans "Clusters" %}</a>
            <a class="dropdown-item" href="/clustersoftware/"><i class="fa fa-shield fa-fw mr-2"></i> {% trans "Cluster Software" %}</a>
            <a class="dropdown-item" href="/clusterpackage/"><i class="fa fa-archive fa-fw mr-2"></i> {% trans "Cluster Packages" %}</a>
            <a class="dropdown-item" href="/clusterpackagetype/"><i class="fa fa-list-alt fa-fw mr-2"></i> {% trans "Package Types" %}</a>
        </div>
    </li>
</ul>
