{% extends "site_base.html" %}

{% load i18n %}

{% block body %}
<div class="card">
    <div class="card-header"><strong>{% trans "Settings" %}</strong></div>
    <div class="list-group">
        {% comment %}
        <a class="list-group-item account-settings" href="{% url "account_settings" %}">
            {% trans "Account" %}
        </a>
        <a class="list-group-item account-social" href="{% url "account_social_accounts" %}">
            {% trans "Social accounts" %}
        </a>
        {% endcomment %}
        <a class="list-group-item account-password-change" href="{% url "account_change_password" %}">
            {% trans "Change password" %}
        </a>
        <a class="list-group-item account-password-reset" href="{% url "account_reset_password" %}">
            {% trans "Reset password" %}
        </a>
        {% comment %}
        <a class="list-group-item account-delete" href="{% url "account_delete" %}">
            {% trans "Delete account" %}
        </a>
        {% endcomment %}
    </div>
</div>
{% endblock %}
