{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block body %}
<div class="wide-container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-header bg-white text-center py-4">
                    <h3 class="mb-0">{% trans "Log out" %}</h3>
                </div>
                <div class="card-body p-4 text-center">
                    <p class="mb-4">{% trans "Are you sure you want to log out?" %}</p>

                    <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn btn-danger btn-block">
                            <i class="fa-solid fa-right-from-bracket mr-1"></i> {% trans "Log out" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
