{% extends "account/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block body_class %}account account-password-set{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block account_content %}
<div class="card-header bg-white">
    <h4 class="mb-0">{% trans "Set Password" %}</h4>
</div>
<div class="card-body">
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-actions">
            <button type="submit" name="action" class="btn btn-sm btn-primary pill">
                <i class="fa-solid fa-key me-1"></i> {% trans "Set Password" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}