{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block body_class %}account account-password-change{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block account_content %}
<div class="card-header bg-white">
    <h4 class="mb-0">{% trans "Change password" %}</h4>
</div>
<div class="card-body">
    <form method="POST" action="" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa-solid fa-refresh mr-1"></i> {% trans "Save" %}
            </button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
