Django>=2.0
djangorestframework
django-htmlmin
django-account
django-appconf
django-user-accounts
python-social-auth
social-auth-core
social-auth-app-django
django-extensions
django-bootstrap4
django-bootstrap3
pyyaml
git+https://github.com/ofalk/django-natural-keys.git@master
django-countries
docutils
flake8
pyflakes
pep8
whitenoise
gunicorn
# https://pypi.python.org/pypi/django-modern-rpc
# django-bootstrap-themes
django-debug-toolbar
mysqlclient
django-taggit
pycco
