beautifulsoup4
coverage
dj-database-url
django>=6.0,<7.0
django-allauth
django-bootstrap4
django-countries
django-debug-toolbar
django-extensions
django-htmlmin
django-mfa
django-simple-history
django-taggit
djangorestframework
drf-spectacular
gunicorn
psycopg
pycco
pyLibravatar
python-decouple
python3-openid
social-auth-app-django
social-auth-core
whitenoise
