Django
djangorestframework
django-htmlmin
django-account
django-appconf
django-user-accounts
python-social-auth
social-auth-core
social-auth-app-django
django-extensions
django-bootstrap4
pyyaml
natural-keys
django-countries
docutils
nodeenv
django-bower
#django-code-linter
#glamkit-adminboost
#django-fancy-autocomplete
#devrecargar
#django-kidotest
#django-monitoring
#django-bootstrap-static
#bootstrap_admin_legacy
#django-code-deploy
#django-bootstrap-span
#django-bootstrap-pagination
#django-messages-to-bootstrap-notify
#https://pypi.python.org/pypi/django-modern-rpc
#django-bootstrap-components
#django-bootstrap-themes
#django-bootstrap-tags
#django-bootstrap-admin
