{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Servermodel" %} :: {% if object %}{{ object.name }}{% endif %}{% endblock %}

{% block body_class %}servermodel{% endblock %}

{% block body %}

{% csrf_token %}
<form action="{% url 'servermodel:delete' object.pk %}" method="post" class="form">{% csrf_token %}
    <div class="alert alert-danger fade show" role="alert">
      {% trans 'Are you sure you want to <strong>delete</strong>' %} <em>{{ object }}</em>?
    </div>
    {% buttons %}
    {% bootstrap_button "Confirm" button_type="submit" button_class="btn-danger" %}
    {% endbuttons %}
</form>

{% endblock %}
