{% extends "site_base.html" %}
 

{% load i18n %}
{% load bootstrap4 %}
 
{% block head_title %}{% trans "Servermodel" %} :: {{ object.name }}{% endblock %}
 
{% block body_class %}servermodel servermodel-detail{% endblock %}

{% block body %}
{% if object %}
<form action="{% url 'servermodel:detail' object.pk %}" method="post" class="form">
{% else %}
<form action="{% url 'servermodel:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
{% if request.path == object.get_update_url %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
{% else %}
<a class="btn btn-primary" role="button" href="{% url 'servermodel:update' object.pk %}">{% trans 'Edit' %}</a>
<a class="btn btn-danger" role="button" href="{% url 'servermodel:delete' object.pk %}">{% trans 'Delete' %}</a>
{% endif %}
{% endbuttons %}

  <div class="card">
    {% if not object.server_set.all %}
      <div class="card-header"><b>{% trans 'No servers with this server model' %}</b></div>
    {% else %}
    <div class="card-header"><b>{% trans 'List of servers with this server model' %}</b></div>
    <table class="table table-hover table-striped" id="server_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>{% trans 'Hostname' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Location' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for server in object.server_set.all %}
          <tr>
            <td>
              <a href="{% url 'server:detail' server.pk %}" title="{{ server.hostname }}">
                <div>{{ server.hostname }}</div>
              </a>
            </td>
            <td>
              {% include "status-icon.html" with object=server %}
            </td>
            <td>
              {{ server.location }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
 
{% endblock %}
