{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Servermodel" %}{% endblock %}

{% block body_class %}servermodel servermodel-list{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="card">
    <div class="checkbox" align="right">
      <label><input type="checkbox" id="show_empty" checked> {% trans 'Show empty' %}</label>
    </div>
    <script>
        $('#show_empty').ready(function(e) {
            var checked = getCookie('srvmanager-show_empty');
            if(checked == 'true' || checked == '') {
                document.getElementById('show_empty').checked = true;
            } else {
                document.getElementById('show_empty').checked = false;
            }
        });
        $('#show_empty').click(function() {
            setCookie('srvmanager-show_empty',this.checked, 30);
            location.reload();
        });
    </script>
    {% if not object_list %}
      <div class="card-header bg-white d-flex justify-content-between align-items-center"><h4 class="mb-0">Servermodel</h4><a href="{% url 'servermodel:create' %}" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus-circle"></i> {% trans "Add New" %}</a></div><div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover table-striped" id="servermodel_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for vendor in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'vendor:detail' vendor.pk %}" title="{{ vendor.name }}">
                <div>{{ vendor.name }}</div>
              </a>
            </td>
            <td>
              {% for servermodel in vendor.servermodel_set.all %}
                <a href="{% url 'servermodel:detail' servermodel.pk %}" title="{{ servermodel }}">
                  {{ servermodel.name }}</a>
                <a href="{% url 'servermodel:update' servermodel.pk %}" title="Edit servermodel"><i class="fa fa-edit" aria-hidden="true"></i></a>
                {% if not forloop.last %}, {% endif %}
              {% empty %}
                None
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'servermodel:create' vendor.pk %}" title="Add new servermodel"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
