{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Servermodel" %}{% endblock %}

{% block body_class %}servermodel servermodel-list{% endblock %}

{% block body %}
<div class="wide-container mt-4">
  <div class="card">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{% trans "Server Models" %}</h4>
      <div class="d-flex align-items-center">
        <div class="custom-control custom-switch mr-3">
          <input type="checkbox" class="custom-control-input cookie-sync" id="show_empty" checked>
          <label class="custom-control-label" for="show_empty">{% trans 'Show empty' %}</label>
        </div>
        <a href="{% url 'servermodel:create' %}" class="btn btn-sm btn-primary">
          <i class="fa fa-plus-circle"></i> {% trans "Add New" %}
        </a>
      </div>
    </div>

    {% if not object_list %}
      <div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover" id="servermodel_list">
      <thead>
        <tr>
          <th>{% trans "Vendor" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for vendor in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'vendor:detail' vendor.pk %}" title="{{ vendor.name }}">
                {{ vendor.name }}
              </a>
            </td>
            <td>
              {% for servermodel in vendor.servermodel_set.all %}
                <a href="{% url 'servermodel:detail' servermodel.pk %}" title="{{ servermodel }}">
                  {{ servermodel.name }}</a>
                <a href="{% url 'servermodel:update' servermodel.pk %}" title="{% trans 'Edit servermodel' %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {% if not forloop.last %}, {% endif %}
              {% empty %}
                {% trans "None" %}
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'servermodel:create' vendor.pk %}" title="{% trans 'Add new servermodel' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
