{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Servermodel" %}{% endblock %}

{% block body_class %}servermodel servermodel-list{% endblock %}

{% block body %}
<div class="container" style="padding-top: 20px;">
  <div class="panel panel-default">
    <div class="checkbox" align="right">
      <label><input type="checkbox" id="show_empty" checked> {% trans 'Show empty' %}</label>
    </div>
    <script>
        $('#show_empty').ready(function(e) {
            var checked = getCookie('srvmanager-show_empty');
            if(checked == 'true' || checked == '') {
                document.getElementById('show_empty').checked = true;
            } else {
                document.getElementById('show_empty').checked = false;
            }
        });
        $('#show_empty').click(function() {
            setCookie('srvmanager-show_empty',this.checked, 30);
            location.reload();
        });
    </script>
    {% if not object_list %}
      <div class="panel-heading"><b>{% trans 'No results' %}</b></div>
    {% else %}
    <table class="table table-hover table-striped" id="servermodel_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for vendor in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'vendor:detail' vendor.pk %}" title="{{ vendor.name }}">
                <div>{{ vendor.name }}</div>
              </a>
            </td>
            <td>
              {% for servermodel in vendor.servermodel_set.all %}
                <a href="{% url 'servermodel:detail' servermodel.pk %}" title="{{ servermodel }}">
                  {{ servermodel.name }}</a>
                <a href="{% url 'servermodel:update' servermodel.pk %}" title="Edit servermodel"><i class="fa fa-edit" aria-hidden="true"></i></a>
                {% if not forloop.last %}, {% endif %}
              {% empty %}
                None
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'servermodel:create' vendor.pk %}" title="Add new servermodel"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if is_paginated %}
      <div align="center" style="width: inherit;">
        <nav aria-label="Pagination">
          <ul class="pagination pagination-sm">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        </ul>
      </div>
    {% endif %}
  </div> <!-- panel -->
</div> <!-- container -->

{% endblock %}
