{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Clustersoftware' %} :: {{ object }}{% endblock %}

{% block body_class %}clustersoftware clustersoftware-{% if object %}detail{% else %}create{% endif %}{% endblock %}

{% block body %}
{% if object %}
  <form action="{% url 'clustersoftware:detail' object.pk %}" method="post" class="form">
{% else %}
  <form action="{% url 'clustersoftware:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
{% if request.path == object.get_update_url %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
{% else %}
<a class="btn btn-primary" role="button" href="{% url 'clustersoftware:update' object.pk %}">{% trans 'Edit' %}</a>
<a class="btn btn-danger" role="button" href="{% url 'clustersoftware:delete' object.pk %}">{% trans 'Delete' %}</a>
{% endif %}
{% endbuttons %}

  <div class="panel panel-default">
    {% if not object.cluster_set.all %}
      <div class="panel-heading"><b>{% trans 'No cluster with this clustersoftware' %}</b></div>
    {% else %}
    <div class="panel-heading"><b>{% trans 'List of clusters with this clustersoftware' %}</b></div>
    <table class="table table-hover table-striped" id="server_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Vendor' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for cluster in object.cluster_set.all %}
          <tr>
            <td>
              <a href="{% url 'cluster:detail' cluster.pk %}" title="{{ cluster }}">
                <div>{{ cluster }}</div>
              </a>
            </td>
            <td>
              {{ cluster.vendor.name }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

{% endblock %}
{% block scripts %}
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script>
$(function () {
  $('.date-input').datetimepicker({
    format:'YYYY-MM-DD',
  });
});
</script>
{% endblock %}
