{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Clustersoftware' %}{% endblock %}

{% block body_class %}clustersoftware clustersoftware-list{% endblock %}

{% block body %}
<div class="wide-container mt-4">
  <div class="card">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{% trans "Clustersoftware" %}</h4>
      <a href="{% url 'clustersoftware:create' %}" class="btn btn-sm btn-primary">
        <i class="fa-solid fa-plus-circle"></i> {% trans "Add New" %}
      </a>
    </div>
    {% if not object_list %}
      <div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover" id="clustersoftware_list">
      <thead>
        <tr>
          <th>{% trans "Name/Version" %}</th>
          <th>{% trans "Vendor" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for clustersoftware in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'clustersoftware:detail' clustersoftware.pk %}" title="{{ clustersoftware.name }}">
                {{ clustersoftware.name }}{% if clustersoftware.version %} {{ clustersoftware.version }}{% endif %}
              </a>
            </td>
            <td>
              <a href="{% url 'vendor:detail' clustersoftware.vendor.pk %}" title="{{ clustersoftware.vendor }}">
                {{ clustersoftware.vendor }}
              </a>
            </td>
            <td>
              <a href="{% url 'clustersoftware:update' clustersoftware.pk %}" title="{% trans 'Edit clustersoftware' %}">
                <i class="fa-solid fa-pen fa-fw fa-lg" aria-hidden="true"></i>
              </a>
              <a href="{% url 'clustersoftware:delete' clustersoftware.pk %}" title="{% trans 'Delete clustersoftware' %}">
                <i class="fa-solid fa-trash fa-fw fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
