{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Server" %} :: {% if object %}{{ object.hostname }}{% if object.domain %}.{{ object.domain }}{% endif %}{% endif %}{% endblock %}

{% block body_class %}server{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-white">
            <h4 class="mb-0">{% trans "Server" %}</h4>
        </div>
        <div class="card-body">
            {% csrf_token %}
<form action="{% url 'server:delete' object.pk %}" method="post" class="form">{% csrf_token %}
    <div class="alert alert-danger fade show" role="alert">
      {% trans 'Are you sure you want to <strong>delete</strong>' %} <em>{{ object }}</em>?
    </div>
    {% buttons %}
    {% bootstrap_button "Confirm" button_type="submit" button_class="btn-danger" %}
    {% endbuttons %}
</form>
        </div>
    </div>
</div>
{% endblock %}
