{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block additionalstyles %}{% include "_additionalstyles.html" %}{% endblock %}
{% block additionalscripts %}{% include "_additionalscripts.html" %}{% endblock %}

{% block head_title %}{% trans "Server" %} :: {% if object %}{{ object.hostname }}{% if object.domain %}.{{ object.domain }}{% endif %}{% else %}NEW{% endif %}{% endblock %}

{% block body_class %}server server-{% if object %}detail{% else %}create{% endif %}{% endblock %}

{% block body %}
<div class="wide-container mt-4">
    <div class="card">
        <div class="card-header bg-white">
            <h4 class="mb-0">{% trans "Server" %}</h4>
        </div>
        <div class="card-body">
            {% if object %}
  <form action="{% url 'server:update' object.pk %}" method="post" class="form">
{% else %}
  <form action="{% url 'server:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-sm btn-primary" %}
{% endbuttons %}
        </div>
    </div>
</div>
{% endblock %}
