{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap3 %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Server" %} :: {% if object %}{{ object.hostname }}{% if object.domain %}.{{ object.domain }}{% endif %}{% else %}NEW{% endif %}{% endblock %}

{% block body_class %}server server-{% if object %}detail{% else %}create{% endif %}{% endblock %}

{% block body %}

{% if object %}
  <form action="{% url 'server:update' object.pk %}" method="post" class="form">
{% else %}
  <form action="{% url 'server:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
{% endbuttons %}

{% endblock %}
{% block scripts %}
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script>
$(function () {
  $('.date-input').datetimepicker({
    format:'YYYY-MM-DD',
  });
});
</script>
{% endblock %}
