{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Server" %}{% endblock %}

{% block body_class %}server server-list{% endblock %}

{% block body %}
<div class="container" style="padding-top: 20px;">
  <div class="panel panel-default">
    {% if not object_list %}
      <div class="panel-heading"><b>{% trans 'No results' %}</b></div>
    {% else %}
    <table class="table table-hover table-striped" id="server_list" style="font-size:80%;">
      <thead>
        <tr>
          <th                       >{% trans 'Hostname' %}</th>
          <th class="hidden-sm-down">{% trans 'Status' %}</th>
          <th class="hidden-sm-down">{% trans 'Location' %}</th>
          <th                       >{% trans 'Description' %}</th>
          <th class="hidden-sm-down">{% trans 'Operatingsystem' %}</th>
          <th class="hidden-xs-down">{% trans 'Primary IP' %}</th>
          <th class="hidden-sm-down">{% trans 'Patchtime' %}</th>
          <th                        >{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'server:detail' object.pk %}"
                 title="{% trans 'View' %} {{ object.hostname }}.{{ object.domain }}">
                <div class="hidden-md-up">
                  {% include "status-icon.html" %}
                  {{ object.hostname }}
                </div>
                <div class="hidden-sm-down">{{ object.hostname }}</div>
              </a>
            </td>
            <td class="hidden-sm-down">
              {% include "status-icon.html" %}
            </td>
            <td class="hidden-sm-down">{{ object.location }}</td>
            <td>{{ object.description }}</td>
            <td class="hidden-sm-down">
              {% if object.operatingsystem.vendor.name == 'Microsoft' %}
                <i class="fa fa-windows" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% elif object.operatingsystem.vendor.name == 'CentOS' or object.operatingsystem.vendor.name == 'Red Hat' or object.operatingsystem.vendor.name == 'Fedora' %}
                <i class="fa fa-linux" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% elif object.operatingsystem.vendor.name == 'Cisco' %}
                <i class="fa fa-sitemap" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% elif object.operatingsystem.vendor.name == 'VMware' %}
                <i class="fa fa-cloud" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% elif object.operatingsystem.vendor.name == 'HW group' and object.operatingsystem.version == 'Firmware' %}
                <i class="fa fa-thermometer-half" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% elif object.operatingsystem.vendor.name == 'Infortrend' and object.operatingsystem.version == 'Firmware' %}
                <i class="fa fa-hdd-o" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% elif not object.operatingsystem.vendor.name  %}
                <i class="fa fa-circle-o" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% else %}
                <i class="fa fa-television" aria-hidden="true"></i> {{ object.operatingsystem }}
              {% endif %}
            </td>
            <td class="hidden-xs-down">{{ object.primary_ip }}</td>
            <td class="hidden-sm-down">{{ object.patchtime }}</td>
            <td>
              <a href="{% url 'server:update' object.pk %}" title="{% trans 'Edit server' %}">
                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
              </a>
              <a href="{% url 'server:delete' object.pk %}" title="{% trans 'Delete server' %}">
                <i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- panel -->
</div> <!-- container -->

{% endblock %}
