{% load socialaccount %}
{% load social_tags %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
<li class="list-inline-item mb-2">
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <a title="{{ brand.name }}"
               class="btn btn-sm btn-outline-primary socialaccount_provider {{ provider.id }} {{ brand.id }}"
               href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
               >{{ brand.name }}</a>
        {% endfor %}
    {% endif %}
    <a title="{{ provider.name }}"
       class="btn btn-sm btn-outline-{{ provider.id }} socialaccount_provider {{ provider.id }}"
       href="{% provider_login_url provider.id process=process %}">
       <i class="{{ provider.id|provider_icon_class }} mr-1"></i> {{ provider.name }}
    </a>

</li>
{% endfor %}
