{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block body %}
<div class="wide-container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-danger">
                <div class="card-header bg-danger text-white text-center py-4">
                    <h3 class="mb-0">{% trans "Social Network Login Failure" %}</h3>
                </div>
                <div class="card-body p-4 text-center">
                    <p class="mb-4">
                        {% trans "An error occurred while attempting to login via your social network account." %}
                    </p>
                    <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">
                        <i class="fa fa-arrow-left mr-1"></i> {% trans "Back to Login" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
