{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Status" %} :: {% if object %}{{ object.name }}{% endif %}{% endblock %}

{% block body_class %}status status-{% if object %}detail{% else %}create{% endif %}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-white">
            <h4 class="mb-0">{% trans "Status" %}</h4>
        </div>
        <div class="card-body">
            {% if object %}
  <form action="{% url 'status:update' object.pk %}" method="post" class="form">
{% else %}
  <form action="{% url 'status:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
{% endbuttons %}
        </div>
    </div>
</div>
{% endblock %}
