{% extends "site_base.html" %}


{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Status" %}{% endblock %}

{% block body_class %}status status-list{% endblock %}

{% block body %}
<div class="wide-container mt-4">
  <div class="card">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{% trans "Status" %}</h4>
              {% include "includes/export_button.html" with app_label="status" %}
<a href="{% url 'status:create' %}" class="btn btn-sm btn-primary pill">
        <i class="fa-solid fa-plus-circle me-1"></i> {% trans "Add New" %}
      </a>
    </div>
    <div class="card-body pb-0">
        {% include "includes/list_history.html" %}
    </div>
    {% if not object_list %}
      <div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <form id="bulk_action_form" method="post" action="{% url 'status:bulk_delete' %}">
    {% csrf_token %}

    {% include "includes/bulk_toolbar.html" %}


    <table class="table table-hover" id="status_list">
      <thead>
        <tr>
        {% include "includes/bulk_select_all.html" %}
          <th>{% trans 'Name' %}</th>
          <th class="text-center">{% trans 'Icon' %}</th>
          <th>{% trans 'Group' %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            {% include "includes/bulk_checkbox.html" with bulk_object=object %}
            <td>
              <a href="{% url 'status:detail' object.pk %}" title="{{ object.name }}">
                {{ object.name }}
              </a>
            </td>
            <td class="text-center">
              {% include "status-icon.html" %}
            </td>
            <td>{% include "includes/group_badge.html" %}</td>
            <td>
              <a href="{% url 'status:update' object.pk %}" title="{% trans 'Edit status' %}">
                <i class="fa-solid fa-pen fa-fw fa-lg" aria-hidden="true"></i>
              </a>
              <a href="{% url 'status:delete' object.pk %}" title="{% trans 'Delete status' %}">
                <i class="fa-solid fa-trash fa-fw fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
