{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Status" %}{% endblock %}

{% block body_class %}status status-list{% endblock %}

{% block body %}
<div class="wide-container mt-4">
  <div class="card">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{% trans "Status" %}</h4>
      <a href="{% url 'status:create' %}" class="btn btn-sm btn-primary">
        <i class="fa-solid fa-plus-circle"></i> {% trans "Add New" %}
      </a>
    </div>
    {% if not object_list %}
      <div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover" id="status_list">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>
              <a href="{% url 'status:detail' object.pk %}" title="{{ object.name }}">
                {{ object.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'status:update' object.pk %}" title="{% trans 'Edit status' %}">
                <i class="fa-solid fa-pen fa-fw fa-lg" aria-hidden="true"></i>
              </a>
              <a href="{% url 'status:delete' object.pk %}" title="{% trans 'Delete status' %}">
                <i class="fa-solid fa-trash fa-fw fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
