{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Clusterpackagetype' %}{% endblock %}

{% block body_class %}clusterpackagetype clusterpackagetype-list{% endblock %}

{% block body %}
<div class="wide-container mt-4">
  <div class="card">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{% trans "Clusterpackagetype" %}</h4>
      <a href="{% url 'clusterpackagetype:create' %}" class="btn btn-sm btn-primary">
        <i class="fa-solid fa-plus-circle"></i> {% trans "Add New" %}
      </a>
    </div>
    {% if not object_list %}
      <div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover" id="clusterpackagetype_list">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for clusterpackagetype in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'clusterpackagetype:detail' clusterpackagetype.pk %}" title="{{ clusterpackagetype.name }}">
                {{ clusterpackagetype.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'clusterpackagetype:update' clusterpackagetype.pk %}" title="{% trans 'Edit clusterpackagetype' %}">
                <i class="fa-solid fa-pen fa-fw fa-lg" aria-hidden="true"></i>
              </a>
              <a href="{% url 'clusterpackagetype:delete' clusterpackagetype.pk %}" title="{% trans 'Delete clusterpackagetype' %}">
                <i class="fa-solid fa-trash fa-fw fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
