{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Clusterpackagetype' %}{% endblock %}

{% block body_class %}clusterpackagetype clusterpackagetype-list{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="card">
    {% if not object_list %}
      <div class="card-header bg-white d-flex justify-content-between align-items-center"><h4 class="mb-0">Clusterpackagetype</h4><a href="{% url 'clusterpackagetype:create' %}" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus-circle"></i> {% trans "Add New" %}</a></div><div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover table-striped" id="clusterpackagetype_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for clusterpackagetype in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'clusterpackagetype:detail' clusterpackagetype.pk %}" title="{{ clusterpackagetype.name }}">
                {{ clusterpackagetype.name }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
