<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>app_directories_enhanced.py</title>
  <link rel="stylesheet" href="../../../../pycco.css">
</head>
<body>
<div id='container'>
  <div id="background"></div>
  <div class='section'>
    <div class='docs'><h1>app_directories_enhanced.py</h1></div>
  </div>
  <div class='clearall'>
  <div class='section' id='section-0'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-0'>#</a>
      </div>
      <p>Extended wrapper for loading templates from app dirs.
Given server/list.html, will search in BASE_DIR/server/templates/list.html</p>
    </div>
    <div class='code'>
      <div class="highlight"><pre><span></span><span class="kn">import</span><span class="w"> </span><span class="nn">os</span>

<span class="kn">from</span><span class="w"> </span><span class="nn">django.template</span><span class="w"> </span><span class="kn">import</span> <span class="n">Origin</span>

<span class="kn">from</span><span class="w"> </span><span class="nn">django.template.loaders</span><span class="w"> </span><span class="kn">import</span> <span class="n">filesystem</span>
<span class="kn">from</span><span class="w"> </span><span class="nn">sm.settings</span><span class="w"> </span><span class="kn">import</span> <span class="n">BASE_DIR</span></pre></div>
    </div>
  </div>
  <div class='clearall'></div>
  <div class='section' id='section-1'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-1'>#</a>
      </div>
      
    </div>
    <div class='code'>
      <div class="highlight"><pre><span class="k">class</span><span class="w"> </span><span class="nc">Loader</span><span class="p">(</span><span class="n">filesystem</span><span class="o">.</span><span class="n">Loader</span><span class="p">):</span></pre></div>
    </div>
  </div>
  <div class='clearall'></div>
  <div class='section' id='section-2'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-2'>#</a>
      </div>
      
    </div>
    <div class='code'>
      <div class="highlight"><pre>    <span class="k">def</span><span class="w"> </span><span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">engine</span><span class="p">,</span> <span class="n">dirs</span><span class="o">=</span><span class="kc">None</span><span class="p">):</span>
        <span class="nb">super</span><span class="p">()</span><span class="o">.</span><span class="fm">__init__</span><span class="p">(</span><span class="n">engine</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">dirs</span> <span class="o">=</span> <span class="n">dirs</span></pre></div>
    </div>
  </div>
  <div class='clearall'></div>
  <div class='section' id='section-3'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-3'>#</a>
      </div>
      <p>Return an Origin object pointing to an absolute path in application
templates subdirectory.</p>
    </div>
    <div class='code'>
      <div class="highlight"><pre>    <span class="k">def</span><span class="w"> </span><span class="nf">get_template_sources</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">template_name</span><span class="p">,</span> <span class="n">template_dirs</span><span class="o">=</span><span class="kc">None</span><span class="p">):</span></pre></div>
    </div>
  </div>
  <div class='clearall'></div>
  <div class='section' id='section-4'>
    <div class='docs'>
      <div class='octowrap'>
        <a class='octothorpe' href='#section-4'>#</a>
      </div>
      <p>Only check if there&rsquo;s a directory separator
This might be a dirty hack</p>
    </div>
    <div class='code'>
      <div class="highlight"><pre>        <span class="n">separator</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="s2">&quot;.&quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)[</span><span class="o">-</span><span class="mi">1</span><span class="p">]</span>
        <span class="k">if</span> <span class="n">separator</span> <span class="ow">in</span> <span class="n">template_name</span><span class="p">:</span>
            <span class="n">template_path</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span>
                <span class="n">BASE_DIR</span><span class="p">,</span>
                <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">template_name</span><span class="p">),</span>
                <span class="s2">&quot;templates&quot;</span><span class="p">,</span>
                <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">basename</span><span class="p">(</span><span class="n">template_name</span><span class="p">),</span>
            <span class="p">)</span>
            <span class="k">yield</span> <span class="n">Origin</span><span class="p">(</span>
                <span class="n">name</span><span class="o">=</span><span class="n">template_path</span><span class="p">,</span>
                <span class="n">template_name</span><span class="o">=</span><span class="n">template_name</span><span class="p">,</span>
                <span class="n">loader</span><span class="o">=</span><span class="bp">self</span><span class="p">,</span>
            <span class="p">)</span>

</pre></div>
    </div>
  </div>
  <div class='clearall'></div>
</div>
</body>
