{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Domain" %} :: {% if object %}{{ object.name }}{% endif %}{% endblock %}

{% block body_class %}domain domain-{% if object %}detail{% else %}create{% endif %}{% endblock %}

{% block body %}

{% if object %}
  <form action="{% url 'domain:update' object.pk %}" method="post" class="form">
{% else %}
  <form action="{% url 'domain:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
{% endbuttons %}

{% endblock %}
