{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Server" %}{% endblock %}

{% block body_class %}server server-list{% endblock %}

{% block body %}
<div class="container" style="padding-top: 20px;">
  <div class="panel panel-default">
    {% if not object_list %}
      <div class="panel-heading"><b>{% trans 'No results' %}</b></div>
    {% else %}
    <table class="table table-hover table-striped" id="server_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>Hostname</th>
          <th class="hidden-sm-down">Status</th>
          <th class="hidden-sm-down">Location</th>
          <th>Description</th>
          <th class="hidden-sm-down">OS</th>
          <th class="hidden-xs-down">Primary IP</th>
          <th class="hidden-sm-down">Patchtime</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'server:detail' object.pk %}" title="{{ object.hostname }}.{{ object.domain }}">
                <div class="hidden-md-up">{{ object.hostname }}{% include "status-icon.html" %}</div>
                <div class="hidden-sm-down">{{ object.hostname }}</div>
              </a>
            </td>
            <td class="hidden-sm-down">
              {% include "status-icon.html" %}
            </td>
            <td class="hidden-sm-down">{{ object.location }}</td>
            <td>{{ object.description }}</td>
            <td class="hidden-sm-down">{{ object.operatingsystem }}</td>
            <td class="hidden-xs-down">{{ object.primary_ip }}</td>
            <td class="hidden-sm-down">{{ object.patchtime }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if is_paginated %}
      <div align="center" style="width: inherit;">
        <nav aria-label="Pagination">
          <ul class="pagination pagination-sm">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        </ul>
      </div>
    {% endif %}
  </div> <!-- panel -->
</div> <!-- container -->

{% endblock %}
