{% extends "site_base.html" %}


{% load i18n %}
{% load django_bootstrap5 %}
{% load sm_history_tags %}
{% load history_url_tags %}

{% block head_title %}{% trans 'Clusterpackage' %} :: {{ object }}{% endblock %}

{% block body_class %}clusterpackage clusterpackage-{% if object %}detail{% else %}create{% endif %}{% endblock %}

{% block body %}
<div class="wide-container mt-4">
{% if object %}
  <form action="{% url 'clusterpackage:detail' object.pk %}" method="post" class="form">
{% else %}
  <form action="{% url 'clusterpackage:create' %}" method="post" class="form">
{% endif %}

{% csrf_token %}
{% bootstrap_form form %}
<div class="form-actions">
{% if request.path == object.get_update_url %}
{% bootstrap_button "Save" button_type="submit" button_class="btn-sm btn-primary pill" %}
{% else %}
<a class="btn btn-primary pill" role="button" href="{% url 'clusterpackage:update' object.pk %}">{% trans 'Edit' %}</a>
<a class="btn btn-danger" role="button" href="{% url 'clusterpackage:delete' object.pk %}">{% trans 'Delete' %}</a>
{% endif %}
</div>

  <div class="card">
    {% if not object.cluster_set.all %}
      <div class="card-header"><b>{% trans 'Not assigned to any cluster' %}</b></div>
    {% else %}
    <div class="card-header"><b>{% trans 'Cluster this package is assigned to' %}</b></div>
    <table class="table table-hover table-striped" id="server_list" style="font-size:80%;">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Software' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for cluster in object.cluster_set.all %}
          <tr>
            <td>
              <a href="{% url 'cluster:detail' cluster.pk %}" title="{{ cluster }}">
                <div>{{ cluster.name }}</div>
              </a>
            </td>
            <td>
              {{ cluster.clustersoftware.name }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

    {% include "includes/history_table.html" %}
</div>
{% endblock %}
