{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Clusterpackage' %}{% endblock %}

{% block body_class %}clusterpackage clusterpackage-list{% endblock %}

{% block body %}
<div class="wide-container mt-4">
  <div class="card">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">{% trans "Clusterpackage" %}</h4>
      <a href="{% url 'clusterpackage:create' %}" class="btn btn-sm btn-primary">
        <i class="fa fa-plus-circle"></i> {% trans "Add New" %}
      </a>
    </div>
    {% if not object_list %}
      <div class="card-body"><b>{% trans "No results" %}</b></div>
    {% else %}
    <table class="table table-hover" id="clusterpackage_list">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Type" %}</th>
          <th>{% trans "Cluster" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for clusterpackage in object_list.all %}
          <tr>
            <td>
              <a href="{% url 'clusterpackage:detail' clusterpackage.pk %}" title="{{ clusterpackage.name }}">
                {{ clusterpackage.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'clusterpackagetype:detail' clusterpackage.package_type.pk %}" title="{{ clusterpackage.package_type.name }}">
                {{ clusterpackage.package_type.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'cluster:detail' clusterpackage.cluster.pk %}" title="{{ clusterpackage.cluster.name }}">
                {{ clusterpackage.cluster.name }}
              </a>
            </td>
            <td>
              <a href="{% url 'clusterpackage:update' clusterpackage.pk %}" title="{% trans 'Edit clusterpackage' %}">
                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
              </a>
              <a href="{% url 'clusterpackage:delete' clusterpackage.pk %}" title="{% trans 'Delete clusterpackage' %}">
                <i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% include "pagination/pagination.html" %}
  </div> <!-- card -->
</div> <!-- container -->

{% endblock %}
